@model webshop_projekt.Models.Order
@{
    ViewData["Title"] = "Order";
}

<h1>Sikeres rendelés</h1>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input readonly asp-for="CustomerName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input readonly asp-for="TotalPrice" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Vissza a főoldalra" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
