@using Microsoft.EntityFrameworkCore;
@model Goods
<div class="card m-2" style="width: 100%">
	<div class="card-body">
		<h5 class="card-title">
			@Model.Name
			<a asp-controller="cart" asp-action="buy" asp-route-id="@Model.ID">
				<button type="button" class="btn btn-primary">
					<span class="badge badge-pill badge-primary">
						<small>@Model.Price.ToString("c")</small>
					</span>
				</button>
			</a>
		</h5>
		<p class="card-text">@Model.Description</p>
	</div>
</div>